@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
*{
    margin: 0;
    padding: 0;
}
main{
    background-size: cover;
}
#home{
    background: linear-gradient(108.12deg, #9ABCFF 16.13%, #CFF9D8 88.09%);
}
#text-home{
    justify-content: center;
}
#titulo-home{
    font-family: 'Fredoka One';
    color: white;
}
.texto{
    font-family: 'Fredoka';
    color: white;
}
.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'Fredoka One';
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Fredoka One';
    background:white ;
    height: 6vh;
}
nav a{
    text-decoration: none;
    background-image: linear-gradient(175.9deg, #6599FF -9.98%, #8FFFA7 130%);   
     /* agora colocamos o fundo gradiente dentro do texto com essa propriedade */
    background-clip: text;
    -webkit-background-clip: text;
    /* a cor do texto deve estar como transparent */
    color: transparent; 
}
a:hover{
    background-image: linear-gradient(175.9deg, #3570e7 -9.98%, #3ae45f 130%);   
     /* agora colocamos o fundo gradiente dentro do texto com essa propriedade */
    background-clip: text;
    -webkit-background-clip: text;
    /* a cor do texto deve estar como transparent */
    color: transparent;   
}
.nav-list{
    list-style: none;
    display: flex; 
    margin-top: 1%;
}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px; 
}
.mobile-menu{
    display: none;
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: rgb(0, 0, 0);
    margin: 8px;
    transition: 0.3s;
}
@media (max-width: 999px){
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 5vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #f8f8f8;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        margin-top: 0px;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
}
.nav-list.active {
    transform: translateX(0);
}
  
@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
  
.mobile-menu.active .line2 {
    opacity: 0;
}
  
.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}
.dropdown-menu{
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    
}
/*mudar cor*/
a.dropdown-item{
    font-family: 'Fredoka One';
    color: #859FE2;
}
/*continuar a mesma cor quando passar o mouse*/
a.dropdown-item:hover{
    font-family: 'Fredoka One';
    color: #6486db;
}

#sobre{
    height: 532px;
    background-color: #3570e7;
}

#mt{
    height: 1107px;
    background-color: blueviolet;
}
#faculdade{
    height: 1753px;
    background-color: brown;
}
#pos{
    height: 2477px;
    background-color: rgb(133, 96, 47);
}
#footer{
    height: 163px;
    padding-bottom: 0px;
}

